{% extends 'layout.html' %}

{% block content %}
	<div class='container'>
		<a href="https://github.com/manrajpannu/buyify">
			<h1 id="visualize-twitter" >Buyify</h1>
		</a>

		<h4 style="padding-top: 20px;">Buyify is a Shopify clone.</h4>

		<p>A beginner project using the following stack:</p>

		<ul>
			<li>Python</li>
			<li>Flask</li>
			<li>HTML/CSS</li>
		</ul>
		<h4 style="padding-top: 20px;">Features</h4>
		<ul>
			<li>Login and Register a unique account and stores it into a database.</li>
			<li>Passwords stored as a hash using python bcrpyt library.</li>
			<li>Able to create new products which has title, description, category, price, image, .</li>
			<li>Displays different shops on the homepage.</li>
		</ul>	

		
		<h4 style="padding-top: 20px;">What I learned:</h4>

		<ul>
			<li>How to store, retrieve information inside a database.</li>
			<li>How to create objects structures for users and shops.</li>
			<li>Using Bootstrap and HTML/CSS to create User interfaces.</li>
		</ul>		

		<h4 style="padding-top: 20px;">Next Steps:</h4>

		<ul>
			<li>Allow users to have a unique domain to host their shop.</li>
			<li>Allow users to add products into a cart.</li>
			<li>Give users more customizability with their own shops.</li>
		</ul>		


	</div>

{% endblock content %}
